.desaparecer {
  display:none
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  background-image: https://media.istockphoto.com/vectors/agave-vector-id614036116?k=6&m=614036116&s=612x612&w=0&h=ncBvHylnl_N_-O-2esjS1mSzRInldmJm5N23K2y2Yeo=
  }
  #encabezado{
    text-align: center

  } 
